{% extends "base.html" %} {% block content %} {% load static %}


<section class="content">
   <div class = "main">
   <div class="main-header">
        <img src="/static/img/techis-logo.png" class="logo">
        <h1>Django Forum</h1>
    </div>
    </div>
   <section class="post_form">
    <div class = "main">

    </div> 
   <form action="/" method="POST" enctype='multipart/form-data'>
      {% csrf_token %}
    <input type="text" name="name" placeholder="Name" required />
    <textarea name="body" placeholder="What's in your mind?" required></textarea> 
    <div class="bottom-area">
 
      <div id="wer">
          <button class="btn" type="submit">Post Now</button></div>
    </div>
           </form>
  </section>
  </form>
  <section class="posts">
    <ul>
      {% for post in posts %}
      <li>
        <img class="menu_icon js-menu-icon" src="{% static 'img/icons8-menu-96.png' %}" />
        <div class="menu">
          <a href="/delete/{{ post.id }}/">Delete</a>
        </div>
        <div class="logo">
          <img src="{% static 'img/user.png' %}" />
        </div>
        <div class = "name_body">
          <div class="name">{{ post.name }}</div><br>
          <div class="datetime">{{ post.created_at }}</div>
          <p>{{ post.body }}</p>
         <!---- <a href="delete/{{ post.id }}/">delete</a>-->
        </div>
      </li>
      {% endfor %}
    </ul>
  </section>
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
  <script src="{% static 'js/posts.js' %}"></script>
</section>

{% endblock %}
